<!-- ABOUT US SECTION -->
<div class="section white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="about-us">
          <h2>
            about us
          </h2>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="red-dutch">
        <h1>We are <br> the <br> Dutch <br> web <br></h1>
        </div>
      </div>
    <div class="row">
        <div class="col-xs-12">
          <div class="info">
            <h2>
              We are an Amsterdam based web agency with a lions heart.
              <strong>Founded</strong>
              in 2015 and set out to change the
              <strong>web</strong>
              for the better.
              <strong>We love
                <span class="awesome">awesome</span> stuff.</strong>
            </h2>
            </br>
            <h3>
              We're always on the lookout for good ideas and fun projects to work on.
              We do everything from concept relalisation, design, UIX, front-end,
              back-end, apps and data analysis.
            </h3>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>
