

<!-- CONTACT US SECTION -->
<div class="section white" id="contact">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <div class="coffee">
          <h2>coffee/tea</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="contact-title">
          <h1>Contact</h1>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="contact-info">
          <h2>That's all for now!</h2>
          </br>
          <p>
            Give us a call at
            <span class="contact-red">+31 644220976</span>
            and make an appointment, or just drop by!
            </br></br>Shy people can e-mail to:
            <span class="contact-red">info@thedutchweb.nl</span>
          </p>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="mini-text">
          <h3>
            Don't worry! We also have non-organic tea, and serve cappucino after
            eleven.
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
