<header>
  <div class="logo">
    <img src="../img/logo.svg"/>
  </div>

  <nav class="site-nav">
    <a class="nav-item" href="www.google.com">who are we?</a>
    <a class="nav-item" href="www.google.com">contact</a>
  </nav>

  <div class="lion-frame">
    <img class="lion-base polygon-front" src="../img/PARALLAX/1.png"/>
    <img class="lion-base lionhead" src="../img/lion.png"/>
    <img class="lion-base polygon-back" src="../img/PARALLAX/3.png"/>
    <img class="lion-base shapes" src="../img/SHAPES.png"/>
    <div class="lion-base agency">
      A creative agency <br> creating awesome </br> stuff.
    </div>
  </div>
</header>
