
<!-- TEAM SECTION -->
<div class="section transparent team-section" id="team">
  <div class="shapes">
    <div class="team-top">
      <div class="team-title">
        <h1>
          the team
        </h1>
      </div>

      <div class="team-info">
        <h4>
          Friends and family.
          Working together, making awesome stuff and having fun!
        </h4>
      </div>
    </div>


    <div class="team">

      <div class="frame">
        <div class="profile-pic kasper">
        </div>
        <div class="member-details">

          <div class="name">
            <h4>
              Kasper Meilgaard
            </h4>
          </div>

          <div class="job-title">
            <h5>
              Backend Badass
            </h5>
          </div>

        </div>
      </div>


      <div class="frame">
        <div class="profile-pic pieter">
        </div>
        <div class="member-details">

          <div class="name">
            <h4>
              Pieter-Jannick Dijkstra
            </h4>
          </div>

          <div class="job-title">
            <h5>
              Design/UIX Guru
            </h5>
          </div>

        </div>
      </div>

      <div class="frame">
        <div class="profile-pic wouter">
        </div>
        <div class="member-details">

          <div class="name">
            <h4>
              Wouter Meilgaard
            </h4>
          </div>

          <div class="job-title">
            <h5>
              Java Whizkid
            </h5>
          </div>

        </div>
      </div>

      <div class="frame">
        <div class="profile-pic carlo">
        </div>
          <div class="member-details">

          <div class="name">
            <h4>
              Carlo van Loenhout
            </h4>
          </div>

          <div class="job-title">
            <h5>
              Chief Frontend
            </h5>
          </div>

        </div>
      </div>

    </div>
    
  </div>
</div>
