
<!-- TEAM SECTION -->
<div class="section transparent team-section" id="team">
  <div class="shapes" id="repeat">
    <!-- <img src="../img/SHAPES.png" /> -->
  </div>
  <div class="teaminfo">
    <h4>
      Friends and family.
      Working together, making awesome stuff and having fun!
    </h4>
  </div>
  <div class="team-title">
    <h1>the team</h1>
  </div>

  <div class="table">
    <table>
      <tr>
        <div class="photo kasper">
          <img src="../img/PARALLAX/kasper.png" />
          <div class="name">
            <h4>Kasper Meilgaard</h4>
          </div>
          <div class="job-title">
            <h5>Backend Badass</h5>
          </div>
        </div>
      </tr>

      <tr>
        <div class="photo pieter">
          <img src="../img/PARALLAX/pj.png" />
          <div class="name">
            <h4>Pieter-Jannick Dijkstra</h4>
          </div>
          <div class="job-title">
            <h5>Design/UIX Guru</h5>
          </div>
        </div>
      </tr>
    </table>

    <table>
      <tr>
        <div class="photo wouter">
          <img src="../img/PARALLAX/wouter.png" />
          <div class="name">
            <h4>Wouter Meilgaard</h4>
          </div>
          <div class="job-title">
            <h5>Java Whizkid</h5>
          </div>
        </div>
      </tr>

      <tr>
        <div class="photo carlo">
          <img src="../img/PARALLAX/kasper.png" />
          <div class="name">
            <h4>Carlo van Loenhout</h4>
          </div>
          <div class="job-title">
            <h5>Chief Frontend</h5>
          </div>
        </div>
      </tr>
    </table>
  </div>
</div>
