

body{
  font-size: 62.5%;
}


// ------------------------ MOBILE VIEW ------------------------//

// SECTIONS GENERAL //
.section {
  padding-top:65px;
  padding-bottom: 70px;

  &.white {
    background-color: #fff;
    color: #000;
  }
  &.transparent {
    color: #fff;

  }
  &.contact{
    background-color: #fff;
    color: #000;
  }
}
