

body{
  font-size: 62.5%;
}


// ------------------------ MOBILE VIEW ------------------------//

// SECTIONS GENERAL //
.section {
  padding-top:70px;
  padding-bottom: 70px;

  &.white {
    background-color: #fff;
    color: #000;
  }
  &.transparent {
    color: #fff;
    margin: auto;
    width: 50%;
  }
  &.contact{
    background-color: #fff;
    color: #000;
  }
}
