// ------------------------ MOBILE VIEW ------------------------//

// ------ GENERAL SECTIONS ------//

body{
  font-size: 62.5%;
}

.section {
  padding-top:65px;
  padding-bottom: 70px;

  &.white {
    background-color: #fff;
    color: #000;
  }
  &.transparent {
    color: #fff;
  }
}
