// ------------------------ MOBILE VIEW ------------------------//

// makes header the height of the entire viewport before starting new section
header {
  height: 100vh;
  overflow: hidden;
  background-image: url('../img/SHAPES.png');
  background-position: center center;
  background-repeat: repeat-y;
}

// ------ MOBILE - LIONHEAD ------//

.lion-frame{
  width: 100%;
}

.lion-base{
  display:inline-block;
  position: absolute;

  &.lionhead {
    width:200px;
    left: 50%;
    margin-left: -96px;
    top:50%;
    margin-top: -140px;
    z-index:1
  }
  &.polygon-back {
    width: 250px;
    left: 50%;
    margin-left: -123px;
    top:50%;
    margin-top: -160.5px;
    z-index: -1;
  }
  &.polygon-front {
    width: 190px;
    left: 50%;
    margin-left: -100px;
    top:50%;
    margin-top: -137px;
    z-index: 2;
  }
  &.agency{
    color: #fff;
    font-family: 'Montserrat' ,sans-serif;
    font-size: 20px;
    font-weight: bold;
    display:inline-block;
    margin: 0;
    top: auto;
    left: 37px;
    bottom : 65px;
    z-index:1;
  }
  &.shapes {
    margin: 0;
    top: 25%;
    left: 0;
    right:0;
  }
}

// ------ MOBILE NAVIGATION ------//

  .logo-img{
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width:70px;
    height: 55.25px;
    vertical-align: middle;
    box-sizing: border-box;
    margin-left: 20px;
    margin-top: 20px;
  }

  .site-nav{
    position: absolute;
    top: 20px;
    // left: 120px;

    font-family: "PT Mono";
    text-transform: uppercase;
    z-index: 100;
    right: 20px;
    @media(min-width: 768px){
      right: 20px;

    }
    @media(min-width: 1024px){
      right: 20px;

    }
  }

  .nav-item{
    color: #fff;
    text-decoration: none;
    font-weight: 100;
    padding-left: 30px;
    font-size: 1.6em;
    &:hover{
      color: #fff;
      text-decoration:none;
    }
  }

//------------------------ IPAD VIEW ------------------------//

// ------ IPAD - LIONHEAD ------//
@media only screen and (min-width: 767px) {
  .lion-base{

    &.lionhead {
      width:400px;
      margin-left: -200px;
      margin-top: -240px;
    }
    &.polygon-back {
      width: 500px;
      margin-left: -250px;
      margin-top: -281.5px;
    }
    &.polygon-front {
      width: 390px;
      margin-left: -210px;
      margin-top: -237px;
    }
    &.agency {
      font-size: 28px;
      bottom:20%;
      left:62%;
    }
    &.shapes {
      width: 100%

    }
  }
  // ------ IPAD NAVIGATION ------//
  .logo-img{
    width:133px;
    height: 105px;
    margin-left:30px;
    margin-top: 30px;
  }

  .site-nav{
    position: absolute;
    top: 20px;
    // left: 120px;
    font-family: "PT Mono";
    text-transform: uppercase;
    z-index: 100;

  }

  .nav-item{
    font-weight: lighter;
    font-size: 4em;
    font-size: 18px;

  }

}
