// ------------------------ MOBILE VIEW ------------------------//

// ------ MOBILE - GENERAL AND ABOUT SECTION FONTS ------//

h1{
  color: #FF4F4F;
  font-family: 'PT Mono', sans-serif;
  font-size: 10em;
  text-transform: uppercase;
  font-weight: 500;
}

h2{
  color: #000;
  font-family: 'Montserrat', sans-serif;
}

.about-us h2{
  font-size: 2.4em;
  font-weight: bolder;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.info h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.2em;
  line-height: 29px;
}

.info h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4em;
  line-height:22px;
}

// ------ MOBILE - ABOUT US SECTION ------//

.about-us {
  display:inline-block;
  padding-left: 15px;
  padding-bottom: 10px;
}

.red-dutch{
  padding-left: 15px;
  padding-bottom: 10px;
}

.info {
  width: 275px;
  padding-left:15px;
}

.awesome{
  text-decoration: underline;
}
