// ABOUT US SECTION //
.about-us {
  margin-left:30%;
  display:inline-block;
}

.about-us h2{
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 4.4px;
  text-transform: uppercase;
}

.red-dutch{
  float:right;
  padding: 0px;
}

.info {
  display:inline-block;
  height:300px;
  width: 340px;
  float:left;
}

.info h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 4vw;
  font-weight: normal;
  line-height: 29px;
}

strong{
  font-weight: bold;
}
.awesome{
  text-decoration: underline;
}

.info h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vw;
  line-height:24px;
}
