// ------------------------ MOBILE VIEW ------------------------//
h1{
  color: #FF4F4F;
  font-family: 'PT Mono', sans-serif;
  font-size: 10em;
  text-transform: uppercase;
  font-weight: 500;

}

h2{
  color: #000;
  font-family: 'Montserrat', sans-serif;
}


// ------ MOBILE - ABOUT US SECTION ------//

.about-us {
  padding-left: 10px;
  display:inline-block;
}

.about-us h2{
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 4.4px;
  text-transform: uppercase;
}

.red-dutch{
  padding-left: 10px;
}

.info {
  // display:inline-block;
  // height:300px;
  // width: 340px;
  // float:left;
  padding-left:10px;
}

.info h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  // font-weight: normal;
  line-height: 29px;
}
//
// strong{
//   font-weight: bold;
// }
// .awesome{
//   text-decoration: underline;
// }
//
// .info h3{
//   font-family: 'Montserrat', sans-serif;
//   font-size: 2.5vw;
//   line-height:24px;
// }
