// CONTACT SECTION //

.coffee{
  margin-left: 30%;
}

.coffee h2{
  text-transform: uppercase;
  font-family:sans-serif;
  letter-spacing: 4px;
}

.contact-title {
  margin-left:30%;
  display:inline-block;
}

.contact-title h1{
  line-height: 80px;
  text-transform: uppercase;
}

.contact-title h2{
  text-transform: uppercase;
  font-family:sans-serif;
  letter-spacing: 4px;
}

.contact-info {
  display:inline-block;
  height:300px;
  width: 300px;
}

.contact-info h2{
  font-size: 23px;
  font-weight: 500;
  line-height:30px;
}

.contact-info h3{
  font-family: sans-serif;
  font-size:16px;
  line-height:24px;
}

.contact-red {
  color: red;
}

.mini-text{
  font-size: 9px;
  text-align: center;
  margin-top: -100px;
  font-family: sans-serif;
}
